.image{
max-height: 100px;
  max-width: 100px;
  margin: 10px;
}
.cards{
  display: table-row;
}
.d-flex{
  width: 200px;
  height: 200px;
  border: 1px solid #c3c3c3;
}
.d-flex:hover{
  background-color: cyan;
}
table{
  width: 600px;
  height: 200px;
}
.form-group{
  width: 700px;
  margin-left: 200px;
box-shadow: 2px 10px 10px 2px ;
padding: 20px;
}